#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    /* 2. Aliases: Giving C++ friendly names to hardware nodes */
    aliases {
        impulse-sensor = &rower_reed_switch;
    };

    /* 3. GPIO Keys: Virtual device for the Sensor */
    gpio_keys {
        compatible = "gpio-keys";

        rower_reed_switch: reed_switch {
            /* GPIO 17, Pull-Up, Active Low */
            gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Flywheel Impulse Sensor";
        };
    };
};

&esp32_bt_hci {
    status = "okay";
};
